p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
a {
    display:block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .w100 {
    font-weight: 100;
  }
  .w200 {
    font-weight: 200;
  }
  .w300 {
    font-weight: 300;
  }
  .w400 {
    font-size:40px;
    color: black;
    font-weight: 400;
  }
  html { 
    background-color: rgb(48, 48, 48); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .pictureContainer {
    
    height: 720px;
    overflow: hidden;
    width: 740px;
}
  .pictureContainer img {
    position: relative;
    top: 0px;
    transition: top .2s ease-in-out;
  }
  .pictureContainer img:hover {
    top: -720px;
  }

  #DivForHoverItem {
    /*just so we can see it*/
    height: 50px;
    width: 300px;
    background-color: rgb(48, 48, 48);
}
#HiddenText {
    display: none;
}
#DivForHoverItem:hover #HiddenText {
    display:block;
}