p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
a {
    display:block;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .w100 {
    font-weight: 100;
  }
  .w200 {
    font-weight: 200;
  }
  .w300 {
    font-weight: 300;
  }
  .w400 {
    font-size:40px;
    color: black;
    font-weight: 400;
  }
  html { 
    background-color: rgb(48, 48, 48); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px green solid;
  }

